.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #4a90e2;
  font-weight: 100;
}

.title {
  font-size: 115px;
  margin-bottom: 20px;
}

.slogan {
  font-size: 35px;
  text-align: center;
  line-height: 55px;
}