.avatar {
  composes: baseAvatar from 'sharedStyles/styles.css';
}

.replyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  margin: 7px;
  padding: 15px;
  /*border-bottom: 1px solid #E8E8E8;*/
}

.cushion {
  padding: 5px 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.header {
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  margin-top: 0;
}